---
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Proyects from "../components/Proyects.astro";
import Tabs from "../components/Tabs";
import Tecnologies from "../components/Tecnologies.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// navlink navlink Title navLink navLink
---

<Layout>
  <Header />
  <main class="w-4/5 justify-self-center">
    <AboutMe />
    <br /><hr /><br />
    <Tecnologies />
    <br /><hr /><br />
    <Proyects />
    <br /><hr /><br />
    <Tabs client:load/>
  </main>
  <Footer />
</Layout>
