---
import ContactMe from "./ContactMe.astro";
import Correo from "./correo";
---

<section class="grid grid-cols-3 max-sm:grid-cols-1 gap-4 p-4" id="1">
  <img
    src="WatsiALV_Logo.png"
    alt="imagen"
    class="h-60 row-span-2 self-center justify-self-center object-contain"
  />
  <h2 class="text-xl col-span-2 justify-self-center">
    Jair Vázquez De La Cruz
  </h2>
  <p class="col-span-2 justify-self-center">
    Soy Técnico Superior Universitario en Tecnologías de la Información, Área
    Desarrollo de Software Multiplataforma, recientemente titulado por la
    Universidad Tecnológica de Puebla. Me considero un desarrollador autodidacta
    con enfoque en el aprendizaje continuo, especializado en desarrollo móvil
    con Kotlin y Jetpack Compose. He trabajado en proyectos que involucran tanto
    el diseño como la implementación de soluciones funcionales, combinando
    creatividad, habilidades técnicas y capacidad para resolver problemas. Busco
    oportunidades para aplicar y expandir mis conocimientos en desarrollo de
    software, especialmente en el ámbito móvil, y contribuir al éxito de
    proyectos innovadores.
  </p>
</section>

<ContactMe />
