<div
  id="background-selector"
  class="fixed top-0 left-0 flex justify-start gap-2 p-4 z-50"
>
  <button
    class="w-5 h-5 rounded-full bg-gradient-to-tr from-violet-950 to-fuchsia-500 hover:scale-110 transition-transform"
    data-bg="linear-gradient(45deg, #040d2c, #462a8b, #c505d6)"></button>
  <button
    class="w-5 h-5 rounded-full bg-gradient-to-tr from-black to-gray-500 hover:scale-110 transition-transform"
    data-bg="linear-gradient(180deg, #3d4052, #09090c)"></button>
  <button
    class="w-5 h-5 rounded-full bg-gradient-to-tr from-black to-blue-700 hover:scale-110 transition-transform"
    data-bg="linear-gradient(0deg, #000000, #000040)"></button>
  <button
    class="w-5 h-5 rounded-full bg-gradient-to-tr from-green-300 via-blue-600 to-fuchsia-400 hover:scale-110 transition-transform"
    data-bg="radial-gradient(at 46.71% 42.23%, hsla(215, 82%, 57%, 1) 0%, hsla(215, 82%, 57%, 0) 100%), radial-gradient(at 5.47% 51.96%, hsla(124, 82%, 57%, 1) 0%, hsla(124, 82%, 57%, 0) 100%)"
  ></button>
</div>
