<!-- 
    Blog personal sobre intereses en tecnologias, soluciones, proyectos etc.
-->
<section class="w-3/6 justify-self-center border rounded-lg my-4 px-4">
    <h1 class="text-3xl font-semibold py-4 text-center">
        Pensamientos, proyectos y más.
    </h1>
    <h2 class="text-xl font-light">
        🏆 Barça One Clone.
    </h2>
    <p>
        Barça One Clone es un proyecto personal donde busco replicar la aplicación móvil de streaming del FC Barcelona. El propósito del proyecto es poner a prueba mis conocimientos en el stack de desarrollo móvil con Kotlin (Kotlin, Jetpack Compose), así como reforzar lo aprendido en el curso online que ofrece Android Developers llamado "Aspectos básicos de Android con Compose".
    </p>
    <h2 class="text-xl font-light py-4">
        ⛏️ Minecraft Mods.
    </h2>
    <p>
        Un día, jugando Minecraft con mods, encontré un mod llamado "Kotlin for Forge". Esto me llamó mucho la atención, ya que el lenguaje de programación Kotlin es uno de mis principales intereses. Me puse a investigar más sobre este mod y descubrí que es una dependencia para programar mods en Minecraft con Kotlin. Esto me emocionó mucho, ya que une dos de mis grandes pasiones: los videojuegos y la programación. Y qué mejor que con mi videojuego favorito y mi lenguaje favorito.

        Aunque por ahora no he encontrado mucha información sobre cómo crear mods en Kotlin, seguiré explorando hasta lograr hacer mi propio mod.
    </p>
    <h2 class="text-xl font-light py-4">
        👨‍🍳 Recetas de cocina app movil.
    </h2>
    <p>
        Como primer proyecto grande y completo, tengo en mente desarrollar una app para Android con Kotlin donde los usuarios puedan buscar recetas de cocina de manera fácil y cómoda. Planeo llevar la app lo más lejos posible, con actualizaciones y contenido atractivo, con la meta de que aparezca al menos en las recomendaciones de Google Play.

        Hasta ahora, estoy plasmando mis ideas en un bloc de notas para no olvidarlas mientras sigo mejorando mis habilidades en desarrollo móvil.
    </p>
    <h2 class="text-xl font-light py-4">
        🚀 Astro, Mi framework frontend favorito.
    </h2>
    <p>
        Hace poco más de 6 meses conocí Astro gracias a YouTube y por una necesidad que surgió mientras desarrollaba un sitio web. Todo comenzó cuando estaba creando el sitio web de mi agencia de marketing en HTML, CSS y JS puro. Esto resultó complicado debido a la gran cantidad de código repetido, así que busqué una forma de optimizar el código y reutilizar elementos HTML.
        
        Hasta entonces, no tenía conocimientos sobre frameworks. Había oído hablar de ellos, pero no me animaba a aprender algo nuevo. Entonces descubrí Astro, un framework que permite crear componentes reutilizables, entre muchas otras ventajas que aún sigo explorando.
        
        Cuando vi lo fácil que era desarrollar páginas web con Astro, me encantó y creé un proyecto de prueba. Fue súper intuitivo y cómodo, así que apenas dos días después de probarlo decidí migrar mi sitio web vanilla a Astro. Desde ese día, se convirtió en mi framework frontend favorito.
    </p>
</section>