---
import Correo from "./correo";
---
<div class="flex justify-center flex-wrap gap-5">
  <h1>Contáctame:</h1>
    <Correo client:load />
    |
    <a
      href="https://drive.google.com/file/d/1h3ajmDih-PRwiO4HRGokWJEN0KuJA7TZ/view?usp=sharing"
      class="bg-blue-500 hover:bg-blue-700 px-2 py-1 rounded-3xl shadow-inner">Titulo</a
    >
    <a
      href="https://drive.google.com/file/d/12BfxDWEONGz6-uJ6T0S4_atYgcJntxF8/view?usp=sharing"
      class="bg-blue-500 hover:bg-blue-700 px-2 py-1 rounded-3xl shadow-inner">CV</a
    >
    <a
      href="https://github.com/WatsiDev"
      class="bg-blue-500 hover:bg-blue-700 px-2 py-1 rounded-3xl shadow-inner">GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/jairvazquez"
      class="bg-blue-500 hover:bg-blue-700 px-2 py-1 rounded-3xl shadow-inner">LinkedIn</a
    >
    <a
      href="myblog"
      class="bg-blue-500 hover:bg-blue-700 px-2 py-1 rounded-3xl shadow-inner">My Blog</a
    >
</div>