<header class="flex h-20 font-extralight justify-center items-center gap-3">
    <a
    href="#1"
    class="text-lg inline-block align-middle hover:translate-y-3 hover:scale-125 hover:bg-black hover:bg-opacity-10 rounded-2xl px-2"
    >Sobre mí</a
    >
    <a
    href="#2"
    class="text-lg inline-block align-middle hover:translate-y-3 hover:scale-125 hover:bg-black hover:bg-opacity-10 rounded-2xl px-2"
    >Habilidades</a
    >
    <h1 class="text-4xl place-content-center px-3">- PORTFOLIO -</h1>
    <a
    href="#3"
    class="text-lg inline-block align-middle hover:translate-y-3 hover:scale-125 hover:bg-black hover:bg-opacity-10 rounded-2xl px-2"
    >Proyectos</a
    >
    <a
    href="#4"
    class="text-lg inline-block align-middle hover:translate-y-3 hover:scale-125 hover:bg-black hover:bg-opacity-10 rounded-2xl px-2"
    >Section</a
    >
    
</header>