---
import Card from "./card.astro";
---

<section id="3">
  <h2 class="text-center text-xl py-4">Proyectos</h2>
  <p class="text-center">
    En esta sección, encontrarás mis proyectos universitarios y personales. Cada
    proyecto incluye una breve descripción y un enlace directo a su repositorio
    de GitHub, donde podrás explorar el código. Algunos proyectos también están
    desplegados para una experiencia interactiva.
  </p>
  <div class="flex gap-3 flex-wrap justify-center mt-5">
    <Card
      image="holdemWeb.png"
      title="Hold´em Marketing"
      ,
      text="Página web desarrollada para Holdem Marketing, una agencia de marketing digital. Utilizando Astro y Tailwind, el sitio ofrece una experiencia de usuario optimizada y un diseño atractivo, presentando servicios como estrategias digitales, branding y gestión de redes sociales. Es una plataforma moderna y funcional para empresas que buscan mejorar su presencia digital."
    />
    <Card
      image="tasklist.png"
      title="Tasklist App"
      ,
      text="Una aplicación para gestionar tareas, que permite crear, marcar como realizadas y eliminar tareas. Este proyecto está diseñado para practicar Kotlin y Jetpack Compose, enfocándose en el manejo de colecciones, LazyColumn y la gestión del estado en Compose. Ideal para aprender a construir interfaces reactivas y manejar listas dinámicas de elementos."
    />
    <Card
      image="bytezone.png"
      title="ByteZone: Tienda de Computadoras Online"
      ,
      text="ByteZone es un proyecto universitario desarrollado como una solución integral para la gestión y venta de productos relacionados con tecnología y computación. Combina un diseño moderno, funcionalidades avanzadas, y una estructura robusta para ofrecer una experiencia profesional tanto para usuarios finales como para administradores."
    />
  </div>
</section>
