---
interface Props {
    image: string;
    label: string;
}

const { image, label } = Astro.props;
---

<div class="flex items-center space-x-4 h-16">
    <img class="h-16 w-16 object-contain" src={image} alt={label} title={label} />
</div>
