<section id="2">
  <h2 class="text-center text-xl py-4">Habilidades</h2>
  <p class="text-center">
    Estoy desarrollando mis habilidades en estas tecnologías, incluyendo Kotlin
    y Jetpack Compose para aplicaciones Android, herramientas de diseño web como
    Tailwind y Astro, y control de versiones con Git y GitHub. Mi objetivo es
    seguir creciendo como desarrollador.
  </p>
  <div class="flex gap-4 justify-center py-4">
    <img
      src="kotlin.png"
      alt="kotlinLogo"
      class="w-12 h-12 object-cover hover:scale-125"
      title="Tailwind"
    />
    <img
      src="jetpack.svg"
      alt="jetpackLogo"
      class="w-12 h-12 object-cover hover:scale-125"
      title="JetpackCompose"
    />
    <img
      src="git.svg"
      alt="gitLogo"
      class="w-12 h-12 object-cover hover:scale-125"
      title="Astro"
    />
    <img
      src="github.png"
      alt="githubLogo"
      class="w-12 h-12 object-cover hover:scale-125"
      title="GitHub"
    />
    <img
      src="astro.png"
      alt="astroLogo"
      class="w-12 h-12 object-cover hover:scale-125"
      title="Kotlin"
    />
    <img
      src="tailwind.svg"
      alt="tailwindLogo"
      class="h-12 object-cover hover:scale-125"
      title="Tailwind"
    />
  </div>
</section>
