---
import BgColors from "../components/bgColors.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="Dw6ZEE8PeEe1HjbzyOw2e2925WxzlWlGvbLpqnopqHM"
    />
    <meta
      name="description"
      content="Soy un desarrollador web y móvil con experiencia en la creación de aplicaciones modernas utilizando tecnologías como Astro, Tailwind, Kotlin y Jetpack Compose. Explora mi portafolio para ver mis proyectos más recientes y descubre cómo puedo ayudarte a llevar tu idea al siguiente nivel."
    />
    <meta
      name="keywords"
      content="portafolio de desarrollador, proyectos web, desarrollador móvil, Kotlin, Jetpack Compose, Astro, Tailwind CSS, desarrollo web, aplicaciones móviles, desarrollo de apps, diseño web"
    />
    <meta
      property="og:url"
      content="https://jairvazquez-portafoliodev.netlify.app/"
    />
    <meta
      property="og:image"
      content="https://jairvazquez-portafoliodev.netlify.app/og-image.jpg"
    />
    <meta
      name="twitter:image"
      content="https://jairvazquez-portafoliodev.netlify.app/og-image.jpg"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="canonical"
      href="https://jairvazquez-portafoliodev.netlify.app/"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>Desarrollador Web y Móvil | Portfolio de Jair</title>
  </head>
  <body class="text-white">
    <slot />
    <BgColors />
  </body>
</html>

<script>
  // Seleccionamos los botones y agregamos el evento de clic
  document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll("#background-selector button");
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const bg = button.getAttribute("data-bg");
        if (bg) {
          document.body.style.background = bg;
          document.body.style.transition = "background 0.5s ease-in-out";
        }
      });
    });
  });
</script>

<style>
  html,
  body {
    margin: 0;
    background: -webkit-linear-gradient(45deg, #040d2c, #462a8b, #c505d6);
    background: linear-gradient(45deg, #040d2c, #462a8b, #c505d6);
  }
</style>
