<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Soy un desarrollador web y móvil con experiencia en la creación de aplicaciones modernas utilizando tecnologías como Astro, Tailwind, Kotlin y Jetpack Compose. Explora mi portafolio para ver mis proyectos más recientes y descubre cómo puedo ayudarte a llevar tu idea al siguiente nivel.">
		<meta name="keywords" content="portafolio de desarrollador, proyectos web, desarrollador móvil, Kotlin, Jetpack Compose, Astro, Tailwind CSS, desarrollo web, aplicaciones móviles, desarrollo de apps, diseño web">
		<link rel="icon" type="image/png" href="/WatsiALV_Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Jair - Desarrollador Web y Móvil</title>
	</head>
	<body class="text-white">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		background: -webkit-linear-gradient(45deg, #040d2c,#462a8b,#c505d6);
		background: linear-gradient(45deg, #040d2c,#462a8b,#c505d6);
	}
</style>
